{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">

    <body>
    <div class="container">
        <h1 class="center">Projetos</h1>
        {% for projeto in projetos %}
            <article class="projeto">
                <div class="projeto_nome">{{ projeto.titulo }}</div>
                <div class="projeto_descricao">
                    <div class="titulo">{{ projeto.ano }}</div>
                    <div class="descricao">
                        <p>{{ projeto.descricao }}</p>
                        {% if projeto.imagem.url != None %}
                            <img src="{{ projeto.imagem.url }}">
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'portfolio:projetos_edita_projeto' projeto.pk %}" class="btn btn-secondary">Editar</a>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% empty %}
            <div class="projeto_nome">Ainda sem projetos associados...</div>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:projetos_novo_projeto' %}" class="btn btn-success btn-block">Novo Projeto</a>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <div class="tfcs">
        <h1 class="center">Trabalhos de Final de Curso interessantes</h1>
        {% for tfc in tfcs %}
            <div class="tfc">
                <div class="resumo">
                    <h3>{{ tfc.nome }}</h3>
                    <p>{{ tfc.ano_realizacao }}</p>
                    <p>{{ tfc.resumo }}</p>
                    <p>Autores:
                        {% for autor in tfc.autores.all %}
                            {{ autor.nome }};
                        {% endfor %}
                    </p>
                    <p>Orientador: {{ tfc.orientador }}</p>
                    <a href="{{ tfc.gitHub }}" class="btn btn-secondary">GitHub</a>
                    <a href="{{ tfc.youtube }}" class="btn btn-secondary">Youtube</a>
                    <a href="{{ tfc.relatorio }}" class="btn btn-secondary">Relatório</a>
                </div>
                <img src="{{ tfc.imagem.url }}">

            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}