{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'portfolio/css/quizz.css' %}">
    <h1 class="principal">Quizz sobre Programação Web</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>
        <h3>Perguntas:</h3><br>
        <h3>Qual destas linguagem é utilizada para a estilização de ficheiros HTML?</h3>
        <p><input type="radio" name="opcao" value="CSS" required>CSS</p>
        <p><input type="radio" name="opcao" value="Java">Java</p>
        <p><input type="radio" name="opcao" value="C#">C#</p>
        <p><input type="radio" name="opcao" value="Python">Python</p>
        <br>

        <h3>Em que ano foi criada a tecnologia Django?</h3>
        <p><input type="radio" name="opcao1" value="2000" required>2000</p>
        <p><input type="radio" name="opcao1" value="2002">2002</p>
        <p><input type="radio" name="opcao1" value="2005">2005</p>
        <p><input type="radio" name="opcao1" value="1999">1999</p>
        <br>

        <h3>Qual o URL do primeiro site criado?</h3>
        <p><input type="radio" name="opcao2" value="w3schools" required>https://www.w3schools.com/default.asp</p>
        <p><input type="radio" name="opcao2" value="ulusofona">https://www.ulusofona.pt/</p>
        <p><input type="radio" name="opcao2" value="oldweb">https://oldweb.today/#19960101/http://geocities.com/</p>
        <p><input type="radio" name="opcao2" value="info">http://info.cern.ch/hypertext/WWW/TheProject.html</p>
        <br>

        <h3>Em que país foi criada a linguagem HTML?</h3>
        <p><input type="radio" name="opcao3" value="Alemanha" required>Alemanha</p>
        <p><input type="radio" name="opcao3" value="Portugal">Portugal</p>
        <p><input type="radio" name="opcao3" value="Suíça">Suíça</p>
        <p><input type="radio" name="opcao3" value="Canadá">Canadá</p>
        <br>

        <input type="submit" value="Submeter">
    </form>
    <br>
    <br>
    {% load static %}
    <img src="{% static 'portfolio/images/plot.png' %}">
    <br>
    <br>
    {% if request.user.is_authenticated %}
    <a href="{% url 'portfolio:quizz_apaga' %}" class="btn btn-danger">Apagar</a>
    {% endif %}

{% endblock %}