{% extends 'portfolio/layout.html' %}
{% load static %}
{% block main %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'portfolio/css/site.css' %}">
    <h1 class="principal">A modelação da base de dados deste site</h1>
    <p>Foram utilizados várias relações entre as diferentes classes criadas.
        As relações principais são entre a classe Cadeira e a classe Pessoa, pois desta maneira
        é possível relacionar os professores (Pessoa) com a cadeira (Cadeira). A classe TFC
        relaciona-se com a classe Pessoa de diferentes maneiras, por exemplo: orientadores e autores.</p>
    </ul>
    <h3>Classes criadas:</h3>
    <ul>
        <li>Cadeira</li>
        <li>Post</li>
        <li>Competencia</li>
        <li>Pessoa</li>
        <li>Tecnologia</li>
        <li>Interesse</li>
        <li>Noticia</li>
        <li>PontuacaoQuizz</li>
        <li>TFC</li>
        <li>Projeto</li>
    </ul>
    <h1 class="principal">Digrama DER das Classes</h1>
    <img src="/static/portfolio/images/Diagrama DER.png">
    <h1 class="principal">Site Map</h1>
    <div id="map">
        <img src="/static/portfolio/images/Sitemap.png">
    </div>
    <br>
    <h1 class="principal">Tecnologias utilizadas na criação do site</h1>
    {% for tecnologia in tecnologias %}
        {% if tecnologia.acronimo == "HTML" or tecnologia.acronimo == "CSS"  or tecnologia.nome == "Python" or tecnologia.nome == "Django"  or tecnologia.nome == "Heroku" or tecnologia.nome == "JavaScript" %}
            <div class="tecnologia">
                <h3>{{ tecnologia.nome }} / {{ tecnologia.acronimo }}</h3>
                <p>Criador:
                    {% for criador in tecnologia.criadores %}
                        {{ criador.nome }};
                    {% endfor %}
                </p>
                <p>Ano de criação: {{ tecnologia.ano }}</p>
                <p>{{ tecnologia.decricao }}</p>
                <a href="{{ tecnologia.link }}" class="btn btn-success btn-block">Ver mais</a>
            </div>
        {% endif %}
    {% endfor %}
    <h1 class="principal">Video explicativo sobre o site</h1>
    <div align="center">
        <iframe mawidth="560" height="315" align="middle" src="https://www.youtube.com/embed/cPq0iEuA9iI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <h3 class="blog">Deixe um comentário na área do <a href="{% url 'portfolio:blog' %}">Blog</a></h3>
{% endblock %}